#check_out{
background-color: aqua;
padding-bottom: 2rem;
}

#extras {
background-color: bisque;
}


#protection{
background-color: bisque;  
}

#check_One h3, h5{
    margin-left: 20px;
    padding-left: 20px;
}

#check_Two h3{
    margin-left: 20px;
    padding-left: 20px;
}