@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --ff-montserrat: 'Montserrat Alternates', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fw-700: 700;
  --fw-600: 600;
  --fw-400: 400;


  --fs-15: 15px;
  --fs-14: 14px;
  --fs-13: 13px;


  --text-in-white: #f8f8f8;
  --white: #fff;
  --button-color: #FEB800;
  --black-background: #2d2d2d;
	--white-background: #eeeeee;
  --blue-for-background-dark: #0379c1;
  --blue-for-background-lighter: #477eff;
  --gray: #979797;
	--red: #f32424;
	--darker-red: #b20600;
	--orange-neon: #ff8d29;
	--orange: #ff5f00;

  --transition: all 0.3s ease;

  --border-radius-5: 5px;
  --border-radius-20: 20px;

  --fs-100: clamp(1.5rem, 4vw, 5rem);
  --fs-50: clamp(1rem, 4vw, 2.5rem);
  --fs-25: clamp(.8rem, 10%, 1.5rem);

}




body {
  font-family: var(--ff-montserrat);
}


h1 {
font-size: 3.125rem;
font-weight: var(--fw-700);
}

h2 {
font-size: 2.875rem;
}

h4 {
  font-size: 1.25rem;
}

h6 {
  font-size: .75rem;
}
.h6 {
  font-size: .75rem;
}

p {
  font-size: 1rem;
  padding: .625rem 0;
  margin: 0;
}

.p {
  font-size: 1rem;
}

a {
text-decoration: none;
}


img {
  width: 100%;
}


button {
  background-color: var(--button-color);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-weight: var(--fw-600);
  font-size: clamp(.8rem, 20%, 1.1rem);
  border-radius: var(--border-radius-5);
}

button.card-button {
  background-color: var(--button-color);
  color: var(--white);
  padding: 5px 30px;
  border: none;
  border-radius: 5rem;
  transition: var(--transition);
  cursor: pointer;
  font-weight: var(--fw-600);
  font-size: var(--fs-13);  
}


button.card-button.variant {
  background-color: transparent;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 20px;
  transition: var(--transition);
  cursor: pointer;
  font-weight: var(--fw-600);
  font-size: var(--fs-25);  
}

button.normal {
  background-color: transparent;
  padding: 10px 20px;
}




/* --------------------- my style -------------------- */


.top-header {
  background-color: var(--blue-for-background-lighter);
}

.nav-item a {
  font-size: var(--fs-15);
  font-weight: var(--fw-600);
  color: #2d2d2d;
  transition: var(--transition);
}

.nav-item a:is(:hover, :focus){
  color: var(--orange-neon);
}

#nav-login {
  color: var(--white);
  background-color: var(--button-color);
  border-radius: var(--border-radius-5);
  padding: 5px 10px;
}

#menu-btn {
  border: none;
}





.hero-button {
  margin-top: 10px;
}


/* --------- brands --------- */
#bike-container {
  margin: 10px 20px;
}








/* --------- Bikes --------- */
#popular-bikes {
  background-color: var(--white); 
}

.motor {
  background-color: #eeeeee;
  border-radius: var(--border-radius-5);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  text-align: center;
}

.motor img {
  margin-bottom: 1rem;
  border-radius: var(--border-radius-5);
}

.motor h4 {
  font-weight: var(--fw-700);
  margin-bottom: .8rem;
}

.motor .star p{
  font-size: var(--fs-15);
  font-weight: var(--fw-700);
  
}

.motor .star i{
  font-size: var(--fs-15);
}

span.h6 {
 display: block;
 font-weight: var(--fw-600);
 margin-bottom: .8rem;

}



/* --------- section banner--------- */
#banner {
  background: url(../img/backgrounds/banner.jpg);
  height: 10rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#banner h2 {
  font-weight: 600;
  color: var(--text-in-white);
  margin-block: 1rem;
}

#off {
  color: var(--red);
}





/* --------- section why us --------- */
#why-us {
  background-color: var(--black-background);
}



#why-us h4.title {
  text-transform: capitalize;
  color: var(--white);
}

.reasons {
 
}

.reason {
display: flex;
padding: 1rem; 
background-color: var(--white-background);
min-width: 200px;
border-radius: 5px;
}

.reason i {
  font-size: 1.5rem;
  padding: .3rem .5rem;
  color: var(--orange-neon);
}

#reason-brief{
padding: .2rem 1rem;
}

#banner-button {
  border: 1px solid var(--white);
  color: var(--white);
}




/* --------- footer --------- */
.container-fluid.footer {
  padding-block: 1rem;
  font-family: var(--ff-poppins);
}

.container-fluid.footer h3 {
  font-size: 1rem;
}


.container-fluid.first{
  background-color: #929292;

}


.row1 input{
  font-size: .7rem;
}

.row1 input:focus {
  border: none;
}



.footer a i {
  color: var(--black-background);
  font-size: .8rem;
}